<?php
/** @var $block |Moodle\MoodleMagento\Block\Hello $block
 */
//var_dump($block->getCategories());
?>
<h1>This is my template, there are many like it, but this one is mine.</h1>
<?php foreach ($block->getCategories() as $categories):?>
<?php/* var_dump($categories);
    die();*/?>

    <p><?php echo $categories->getMoodle_category_name();?>: <?= $categories->getMagento_category_name();?>: <?= $categories->getStatus();?></p>
<?php endforeach;?>
