<?php
/** @var $block |Moodle\MoodleMagento\Block\Hello $block
 */
//var_dump($block->getCategories());
?>
<h1>This is my template, there are many like it, but this one is mine.</h1>
<?php foreach ($block->getConfiguration() as $configuration):?>
    <?php/* var_dump("moodle url2=".$configuration->get_MoodleUrl());
    die();*/?>

    <p> <?= $configuration->getMoodleUrl();?>:
        <?= $configuration->getMoodlewebService();?>:
        <?= $configuration->getMoodleToken();?></p>
<?php endforeach;?>
